[submodule "dc-code-analyzer"]
	path = dc-code-analyzer
	url = https://github.com/datacosmos-br/dc-code-analyzer.git
[submodule "flx"]
	path = flx
	url = https://github.com/datacosmos-br/flx.git
[submodule "flx-database-oracle"]
	path = flx-database-oracle
	url = https://github.com/datacosmos-br/flx-database-oracle.git
[submodule "flx-http-oracle-oic"]
	path = flx-http-oracle-oic
	url = https://github.com/datacosmos-br/flx-http-oracle-oic.git
[submodule "flx-http-oracle-wms"]
	path = flx-http-oracle-wms
	url = https://github.com/datacosmos-br/flx-http-oracle-wms.git
[submodule "gruponos-poc-oic-wms"]
	path = gruponos-poc-oic-wms
	url = https://github.com/datacosmos-br/gruponos-poc-oic-wms.git
[submodule "meltano"]
	path = meltano
	url = https://github.com/meltanolabs/meltano.git
[submodule "singer-sdk"]
	path = singer-sdk
	url = https://github.com/meltanolabs/singer-sdk.git
[submodule "algar-oud-mig"]
	path = algar-oud-mig
	url = git@github.com:datacosmos-br/algar-oud-mig.git
