[submodule "dc-code-analyzer"]
	path = dc-code-analyzer
	url = https://github.com/datacosmos-br/dc-code-analyzer.git
[submodule "flx"]
	path = flx
	url = https://github.com/datacosmos-br/flx.git
[submodule "flx-database-oracle"]
	path = flx-database-oracle
	url = https://github.com/datacosmos-br/flx-database-oracle.git
[submodule "flx-http-oracle-oic"]
	path = flx-http-oracle-oic
	url = https://github.com/datacosmos-br/flx-http-oracle-oic.git
[submodule "flx-http-oracle-wms"]
	path = flx-http-oracle-wms
	url = https://github.com/datacosmos-br/flx-http-oracle-wms.git
[submodule "client-b-poc-oic-wms"]
	path = client-b-poc-oic-wms
	url = https://github.com/datacosmos-br/client-b-poc-oic-wms.git
[submodule "meltano"]
	path = meltano
	url = https://github.com/meltanolabs/meltano.git
[submodule "singer-sdk"]
	path = singer-sdk
	url = https://github.com/meltanolabs/singer-sdk.git
[submodule "client-a-oud-mig"]
	path = client-a-oud-mig
	url = git@github.com:datacosmos-br/client-a-oud-mig.git
[submodule "dbt-ldap"]
	path = dbt-ldap
	url = git@github.com:datacosmos-br/dbt-ldap.git
[submodule "flx-adapter-example"]
	path = flx-adapter-example
	url = git@github.com:datacosmos-br/flx-adapter-example.git
[submodule "flx-ldap"]
	path = flx-ldap
	url = git@github.com:datacosmos-br/flx-ldap.git
[submodule "flx-meltano-enterprise"]
	path = flx-meltano-enterprise
	url = git@github.com:datacosmos-br/flx-meltano-enterprise.git
[submodule "flx-oracle-oic"]
	path = flx-oracle-oic
	url = git@github.com:datacosmos-br/flx-oracle-oic.git
[submodule "flx-oracle-wms"]
	path = flx-oracle-wms
	url = git@github.com:datacosmos-br/flx-oracle-wms.git
[submodule "ldap-core-shared"]
	path = ldap-core-shared
	url = git@github.com:datacosmos-br/ldap-core-shared.git
[submodule "oracle-oic-ext"]
	path = oracle-oic-ext
	url = git@github.com:datacosmos-br/oracle-oic-ext.git
[submodule "tap-ldap"]
	path = tap-ldap
	url = git@github.com:datacosmos-br/tap-ldap.git
[submodule "tap-oracle-oic"]
	path = tap-oracle-oic
	url = git@github.com:datacosmos-br/tap-oracle-oic.git
[submodule "tap-oracle-wms"]
	path = tap-oracle-wms
	url = git@github.com:datacosmos-br/tap-oracle-wms.git
[submodule "target-ldap"]
	path = target-ldap
	url = git@github.com:datacosmos-br/target-ldap.git
[submodule "target-oracle-oic"]
	path = target-oracle-oic
	url = git@github.com:datacosmos-br/target-oracle-oic.git
[submodule "target-oracle-wms"]
	path = target-oracle-wms
	url = git@github.com:datacosmos-br/target-oracle-wms.git
